.container {
    display flex-direction: column;
    justify-content: center;
    align-items: center;    
    background: linear-gradient(to bottom, #ffe8d4, #c0bebd);
    border: 1px solid #696969;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgb(240, 6, 6);
    width: 80
    height: 100px;
    <h1>36
    list-style-type: style
       ::-webkit-textfield-decoration-container'none'
    valor'black'
} 